{% extends 'base.html.twig' %}

{% block main %}
        <!--Realizacje-->
    <main>
        <div class="row w-100 d-flexbox text-center m-0 pb-5 imageRow">
            <div class="col-12 p-5">
                <h2>
                    Zadaszenia Drewniane
                </h2>
            </div>
            <div class="col-md-6 col-sm-12 text-center p-2 m-0">
                <img src="{{ asset('images/zadaszenie2.jpg') }}" alt="Zdjęcie Prezentacyjne" class="rounded mx-auto w-100">
            </div>
            <div class="col-md-6 col-sm-12 m-auto font-weight-bold p-5">
                <h4>Zadaszenia są przygotowywane z myślą o wieloletniej eksploatacji.</h4><br>
                <h4>Wykonane z najwyższej jakości materiałów.</h4><br>
                <h4>Przygotowujemy je dokładnie według projektu ustalonego z klientem.</h4>
            </div>
        </div>
        <div class="row w-100 d-flexbox text-center m-0 py-5 imageRow">
            <div class="col-12 p-5">
                <h2>
                    Garaże Drewniane
                </h2>
            </div>
            <div class="col-md-6 col-sm-12 m-auto font-weight-bold p-5">
                <h4>Garaże wykonujemy z wytrzymałych i odpronych na warunki atmosferyczne materiałów.</h4><br>
                <h4>Każda deska pomalowana wysokiej jakości ipregnatem do drewna.</h4><br>
                <h4>Przygotowujemy je dokładnie według projektu ustalonego z klientem.</h4>
            </div>
            <div class="col-md-6 col-sm-12 text-center p-2 m-0">
                <img src="{{ asset('images/garaz.jpg') }}" alt="Zdjęcie Prezentacyjne" class="rounded mx-auto w-100">
            </div>
        </div>
        <div class="row w-100 d-flexbox text-center m-0 py-5 imageRow">
            <div class="col-12 p-5">
                <h2>
                    Łóżka drewniane
                </h2>
            </div>
            <div class="col-md-6 col-sm-12 text-center p-2 m-0">
                <img src="{{ asset('images/lozko.jpg') }}" alt="Zdjęcie Prezentacyjne" style="max-width: 400px;" class="rounded mx-auto w-100">
            </div>
            <div class="col-md-6 col-sm-12 m-auto font-weight-bold p-5">
                <h4>Wykonujemy wysokiej jakości półki drewniane.</h4><br>
                <h4>Półki wykonywane są głównie z drewna mahoniowego.</h4>
                <h4></h4>
            </div>
        </div>
    </main>
{% endblock %}