{% extends 'base.html.twig' %}

{% block title %}Sent!{% endblock %}

{% block main %}
    <main>
        <h1 class="my-5 mx-auto">
            Wiadomość została wysłana ✅
        </h1>
    </main>

{% endblock %}
