{% extends 'base.html.twig' %}

{% block title %}Sent!{% endblock %}

{% block main %}
    <main>
        <h1 class="my-5 mx-auto">
            Wiadomość została wysłana ✅
        </h1>
        <h2>Od: {{ name }}</h2>
        <h2>Dane kontaktowe: {{ contact }}</h2>
        <h2>Treść: {{ body }}</h2>
        <h3></h3>
    </main>

{% endblock %}
